{% extends "history.html.twig" %}

{% block history %}
    {% if made_repairs is defined %}
        <div>
            <h4>Les réparations que j'ai effecutée</h4>

            <table>
                <tr>
                    <th>Objet</th>
                    <th>Date et heure de la demande</th>
                    <th>Demandeur</th>
                    <th>Rendez-vous</th>
                    <th>Voir plus</th>
                </tr>
                {% for repair in made_repairs %}
                    <tr>
                        <td>{{ repair.objet }}</td>
                        <td>{{ repair.dateDemande|date('d/m/Y à H:i') }}</td>
                        <td>{{ repair.demandeur.firstName }} {{ repair.demandeur.lastName }}</td>
                        <td>{{ repair.debut|date('d/m/Y à H:i') }}</td>
                        <td><a href="{{ path('rclab_website_repair_detail', {'id': repair.id}) }}">Voir plus</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    <div>
        <h4>Mes réparations</h4>

        {% if my_repairs is empty %}
            <p>Vous n'avez pas encore de réparations</p>
        {% else %}
            <table>
                <tr>
                    <th>Objet</th>
                    <th>Date et heure de la demande</th>
                    <th>Responsable</th>
                    <th>Rendez-vous</th>
                    <th>Voir plus</th>
                </tr>
                {% for repair in my_repairs %}
                    <tr>
                        <td>{{ repair.objet }}</td>
                        <td>{{ repair.dateDemande|date('d/m/Y à H:i') }}</td>
                        <td>{{ repair.responsable.firstName }} {{ repair.responsable.lastName }}</td>
                        <td>{{ repair.debut|date('d/m/Y à H:i') }}</td>
                        <td><a href="{{ path('rclab_website_repair_detail', {'id': repair.id}) }}">Voir plus</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    {% if all_repairs is defined %}
        <div>
            <h4>Les réparations de l'association</h4>

            <table>
                <tr>
                    <th>Objet</th>
                    <th>Date et heure de la demande</th>
                    <th>Demandeur</th>
                    <th>Rendez-vous</th>
                    <th>Responsable</th>
                    <th>Voir plus</th>
                </tr>
                {% for repair in all_repairs %}
                    <tr>
                        <td>{{ repair.objet }}</td>
                        <td>{{ repair.dateDemande|date('d/m/Y à H:i') }}</td>
                        <td>{{ repair.demandeur.firstName }} {{ repair.demandeur.lastName }}</td>
                        <td>{{ repair.debut|date('d/m/Y à H:i') }}</td>
                        <td>{{ repair.responsable.firstName }} {{ repair.responsable.lastName }}</td>
                        <td><a href="{{ path('rclab_website_repair_detail', {'id': repair.id}) }}">Voir plus</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}