{% extends "myHistory.html.twig" %}

{% block history %}
    <div class="container-fluid history-repair-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="form-top">
                    <div class="form-top-left">
                        <h1>Mes réparations</h1>
                    </div>
                    <div class="form-top-right">
                        <i class="glyphicon glyphicon-wrench"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    {% if my_repairs is empty %}
                        <h4>Vous n'avez aucune réparation historisée.</h4>
                    {% else %}
                        <div class="row my-demand-place">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 title-table">
                                <h4 class="title-area">Objet</h4>
                                <div class="detail-area">
                                    {% for repair in my_repairs %}
                                        <div class="one-detail">
                                            {{ repair.objet }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 title-table">
                                <h4 class="title-area">Demande</h4>
                                <div class="detail-area">
                                    {% for repair in my_repairs %}
                                        <div class="one-detail">
                                            {{ repair.debut|date('d/m à H:i') }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 title-table">
                                <h4 class="title-area">Responsable</h4>
                                <div class="detail-area">
                                    {% for repair in my_repairs %}
                                        <div class="one-detail">
                                            {{ repair.responsable.firstName }} {{ repair.responsable.lastName }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 title-table">
                                <h4 class="title-area title-area-right">Détails</h4>
                                <div class="detail-area detail-area-right">
                                    {% for repair in my_repairs %}
                                        <div class="one-detail">
                                            <div class="btn-repair">
                                                <a class="btn btn-primary" href="{{ path('rclab_website_repair_detail', {'id': repair.id}) }}">Voir plus</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <nav class="page-navig" aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    {% if page > 1 %}
                        <a href="{{ path('rclab_website_course_history_user', { 'page': (page - 1) }) }}"
                           aria-label="Précédent"><span aria-hidden="true">&laquo;</span></a>
                    {% endif %}
                </li>
                <li class="active"><a>{{ page }}</a></li>
                <li>
                    {% if isSuivant is not null %}
                        <a href="{{ path('rclab_website_course_history_user', {'page': (page + 1) }) }}"
                           aria-label="Suivant"><span aria-hidden="true">&raquo;</span></a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}