{% extends "@RCLABWebsite/Actualite/actus.html.twig" %}

{% block actu %}
    <section class="index-content actualite-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="btn-top">
                        {% if is_granted('ROLE_MODERATOR') %}
                            <div class="btn-top-left">
                                <div class="btn-group">
                                    <a class="btn btn-primary btn-left" onclick="onlyEvent()">Événements</a>
                                    <a class="btn btn-primary btn-middle" onclick="onlyNews()">News</a>
                                    <a class="btn btn-primary btn-right" onclick="notOnlyOne()">Tout</a>
                                </div>
                            </div>
                            <div class="btn-top-right">
                                <div class="btn-group">
                                    <a class="btn btn-primary btn-left"
                                       href="{{ path('rclab_website_actualite_events_add') }}">Ajouter un événement</a>
                                    <a class="btn btn-primary btn-right"
                                       href="{{ path('rclab_website_actualite_news_add') }}">Ajouter une news</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="btn-group">
                                <a class="btn btn-primary btn-left" onclick="onlyEvent()">Événements</a>
                                <a class="btn btn-primary btn-middle" onclick="onlyNews()">News</a>
                                <a class="btn btn-primary btn-right" onclick="notOnlyOne()">Tout</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <h1 class="title-page">Toute l'actualité</h1>
            <div class="row">
                {% for actu in listActus %}
                {% if actu.dateEnd is defined %}
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card-event">
                    {% else %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card-news">
                        {% endif %}
                        <div class="card">
                            <div class="picture-block">
                                {% if actu.image is not null %}
                                    <img src="{{ asset('uploads/images/'~actu.image) }}"/>
                                {% endif %}
                            </div>
                            <div class="card-body text-center">
                                <h4>{{ actu.title }}</h4>
                                <h4>{{ actu.dateStart|date('d/m/Y H:i') }}
                                    {% if actu.dateEnd is defined %}
                                        - {{ actu.dateEnd|date('d/m/Y H:i') }}
                                    {% endif %}
                                </h4>
                                {% if is_granted('ROLE_MODERATOR') %}
                                    {% if actu.dateEnd is defined %}
                                        <p>
                                            <a href="{{ path('rclab_website_actualite_events_edit', {'id': actu.id}) }}"><i
                                                        class="fa fa-edit"></i>Éditer</a>
                                            <a href="{{ path('rclab_website_actualite_events_remove', { 'id': actu.id}) }}"><i
                                                        class="fa fa-trash"></i>Supprimer</a>
                                        </p>
                                    {% else %}

                                        <p>
                                            <a href="{{ path('rclab_website_actualite_news_edit', {'id': actu.id}) }}"><i
                                                        class="fa fa-edit"></i>Éditer</a>
                                            <a href="{{ path('rclab_website_actualite_news_remove', { 'id': actu.id}) }}"><i
                                                        class="fa fa-trash"></i>Supprimer</a>
                                        </p>
                                    {% endif %}
                                {% endif %}

                                {% if actu.dateEnd is defined %}
                                    <a href="{{ path('rclab_website_actualite_events_detail', {'id': actu.id}) }}"
                                       class="btn btn-primary">Voir plus</a>
                                {% else %}
                                    <a href="{{ path('rclab_website_actualite_news_detail', {'id': actu.id}) }}"
                                       class="btn btn-primary">Voir plus</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <nav class="page-navig" aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            {% if page > 1 %}
                                <a href="{{ path('rclab_website_actualite', { 'page': (page - 1) }) }}"
                                   aria-label="Précédent"><span aria-hidden="true">&laquo;</span></a>
                            {% endif %}
                        </li>
                        <li class="active"><a>{{ page }}</a></li>
                        <li>
                            {% if isSuivant is not null %}
                                <a href="{{ path('rclab_website_actualite', {'page': (page + 1) }) }}"
                                   aria-label="Suivant"><span aria-hidden="true">&raquo;</span></a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
    </section>
{% endblock %}  