{% extends "base.html.twig" %}

{% block body %}

    <h3>Detail de l'évènement {{ event.event }}</h3>

    <div>
        {% if event.maxParticipants is not null %}
            <p><strong>Seulement {{ event.maxParticipants }} place{% if event.maxParticipants > 1 %}s{% endif %} de disponible{% if event.maxParticipants > 1 %}s{% endif %} !</strong></p>
            <br/>
        {% endif %}
        <p>Du {{ event.debutEvent|date('d/m/Y H:i') }} au {{ event.finEvent|date('d/m/Y H:i') }}</p>
        <br/>
        <p>Description de l'évènement :</p>
        <p>{{ event.description }}</p>
        {% if event.lien is not null %}
            <br/>
            <p><a href="{{ event.lien }}">{{ event.lien }}</a></p>
        {% endif %}
    </div>
    {% if event.image is not null %}
        <div>
            <img src="{{ asset('uploads/images/'~event.image) }}"/>
        </div>
    {% endif %}
{% endblock %}
