{% extends "compte.html.twig" %}

{% block content %}
    <a href="{{ path('rclab_website_matiere_matieres') }}">Gérer les matières</a>

    <a href="{{ path('rclab_website_niveau_niveaux') }}">Gérer les niveaux</a>

    <h3>Liste des demandes de cours</h3>
    <table>
        <tr>
            <th>Matière</th>
            <th>Niveau</th>
            <th>Objet</th>
            <th>Date et heure de la demande</th>
            <th>Demandeur</th>
            <th>Date et heure du cours</th>
            <th>Durée du cours</th>
            <th>Professeur</th>
            <th>Responsable</th>
            <th>Voir plus</th>
            <th>Etat de la demande</th>
            <th>Gérer</th>
        </tr>
        {% for course in toHandle_courses %}
            <tr>
                <td>{{ course.matiere.matiere }}</td>
                <td>{{ course.niveau is not null ? course.niveau.niveau }}</td>
                <td>{{ course.objet }}</td>
                <td>{{ course.etat == 'demande' ? course.dateDemande|date('d/m/Y à H:i') }}</td>
                <td>
                    {% if course.etat == 'demande' %}
                        {{ course.demandeur.firstName }} {{ course.demandeur.lastName }}
                    {% endif %}
                </td>
                <td>{{ course.etat == 'validé' ? course.debut|date('d/m/Y à H:i') }}</td>
                <td>{{ course.etat == 'validé' ? course.duree|date('H:i') }}</td>
                <td>
                    {% if course.professeur is not null %}
                        {{ course.professeur.firstName }} {{ course.professeur.lastName }}
                    {% endif %}
                </td>
                <td>
                    {% if course.responsable is not null %}
                        {{ course.responsable.firstName }} {{ course.responsable.lastName }}
                    {% endif %}
                </td>
                <td><a href="{{ path('rclab_website_course_detail', {'id': course.id}) }}">Voir plus</a></td>
                <td>{{ course.etat }}</td>
                <td>
                    {% if course.etat == 'demande' %}
                        <a href="{{ path('rclab_website_course_valid', {'id': course.id}) }}">Valider</a>
                        <a href="{{ path('rclab_website_course_refuse', {'id': course.id}) }}">Refuser</a>
                    {% elseif course.etat == 'validé' %}
                        <a href="{{ path('rclab_website_course_edit', {'id': course.id}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <div>
        <p>pagination : </p>
        {% if page > 1 %}
            <a href="{{ path('rclab_website_course_handle', { 'page': (page - 1) }) }}">précédent</a>
        {% endif %}
        {{ page }}
        {% if isSuivant is not null %}
            <a href="{{ path('rclab_website_course_handle', {'page': (page + 1) }) }}">suivant</a>
        {% endif %}
    </div>
{% endblock %}