{% extends "myHistory.html.twig" %}

{% block history %}
    {#<div>#}
    {#<h4>Mes demandes de cours</h4>#}

    {#{% if my_demands is empty %}#}
    {#<p>Vous n'avez pas encore de demandes de cours historisées</p>#}
    {#{% else %}#}
    {#<table>#}
    {#<tr>#}
    {#<th>Matière</th>#}
    {#<th>Objet</th>#}
    {#<th>Date et heure de la demande</th>#}
    {#<th>Etat de la demande</th>#}
    {#</tr>#}
    {#{% for demand in my_demands %}#}
    {#<tr>#}
    {#<td>{{ demand.matiere.matiere }}</td>#}
    {#<td>{{ demand.objet }}</td>#}
    {#<td>{{ demand.dateDemande|date('d/m/Y à H:i') }}#}
    {#<td>{{ demand.etat }}</td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</table>#}
    {#{% endif %}#}
    {#</div>#}

    <div>
        <h4>Mes cours</h4>

        {% if my_courses is empty %}
            <p>Vous n'avez pas encore participé à un cours</p>
        {% else %}
            <table>
                <tr>
                    <th>Matière</th>
                    <th>Niveau</th>
                    <th>Objet</th>
                    <th>Date et heure du cours</th>
                    <th>Professeur</th>
                    <th>Voir plus</th>
                </tr>
                {% for course in my_courses %}
                    <tr>
                        <td>{{ course.matiere.matiere }}</td>
                        <td>{{ course.niveau is not null ? course.niveau.niveau }}</td>
                        <td>{{ course.objet }}</td>
                        <td>{{ course.debut|date('d/m/Y à H:i') }}</td>
                        <td>
                            {% if course.professeur is not null %}
                                {{ course.professeur.firstName }} {{ course.professeur.lastName }}
                            {% endif %}
                        </td>
                        <td><a href="{{ path('rclab_website_course_detail', {'id': course.id}) }}">Voir plus</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    <div>
        <p>pagination : </p>
        {% if page > 1 %}
            <a href="{{ path('rclab_website_course_history_user', { 'page': (page - 1) }) }}">précédent</a>
        {% endif %}
        {{ page }}
        {% if isSuivant is not null %}
            <a href="{{ path('rclab_website_course_history_user', {'page': (page + 1) }) }}">suivant</a>
        {% endif %}
    </div>
{% endblock %}