{% extends "myHistory.html.twig" %}

{% block history %}
    <div class="container-fluid history-course-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <div class="form-top">
                    <div class="form-top-left">
                        <h1>Mes cours</h1>
                    </div>
                    <div class="form-top-right">
                        <i class="glyphicon glyphicon-briefcase"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    {% if my_courses is empty %}
                        <h4>Vous n'avez aucun cours d'historisé.</h4>
                    {% else %}
                        <div class="row my-course-place">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 title-table">
                                <h4 class="title-area">Matière</h4>
                                <div class="detail-area">
                                    {% for course in my_courses %}
                                        <div class="one-detail">
                                            {{ course.matiere.matiere }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 title-table">
                                <h4 class="title-area">Objet</h4>
                                <div class="detail-area">
                                    {% for course in my_courses %}
                                        <div class="one-detail">
                                            {{ course.objet }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 title-table">
                                <h4 class="title-area">Date</h4>
                                <div class="detail-area">
                                    {% for course in my_courses %}
                                        <div class="one-detail">
                                            {{ course.debut|date('d/m à H:i') }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 title-table">
                                <h4 class="title-area title-area-right">Détails</h4>
                                <div class="detail-area detail-area-right">
                                    {% for course in my_courses %}
                                        <div class="one-detail">
                                            <div class="btn-course">
                                                <a class="btn btn-primary" href="{{ path('rclab_website_course_detail', {'id': course.id}) }}">Voir plus</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <nav class="page-navig" aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                {% if page > 1 %}
                                    <a href="{{ path('rclab_website_course_history_user', { 'page': (page - 1) }) }}"
                                       aria-label="Précédent"><span aria-hidden="true">&laquo;</span></a>
                                {% endif %}
                            </li>
                            <li class="active"><a>{{ page }}</a></li>
                            <li>
                                {% if isSuivant is not null %}
                                    <a href="{{ path('rclab_website_course_history_user', {'page': (page + 1) }) }}"
                                       aria-label="Suivant"><span aria-hidden="true">&raquo;</span></a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}