{% extends "base.html.twig" %}

{% block body %}

    <p>{{ descriptionAssociation }}</p>
    <p>Bg: </p>
    {% for personne in personnes %}
        <div>
        {% if personne.photo is not null %}
            <img src="{{ asset('uploads/images/'~personne.photo) }}">
        {% endif %}
        <p>{{ personne['fonction']['fonction']|upper }} : {{ personne['firstName'] }} {{ personne.lastName }}</p>
        </div>
    {% endfor %}
    Body de la page association

{% endblock %}
