{% extends "compte.html.twig" %}

{% block content %}
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
        <div class="form-top">
            <div class="form-top-left">
                <h1>Mon profil</h1>
            </div>
            <div class="form-top-right">
                <i class="fa fa-user-o"></i>
            </div>
        </div>
        <div class="form-bottom">
            <div class="row">
                {{ form_start(form) }}
                {% if ((is_granted('ROLE_ADMIN')) or (is_granted('ROLE_MODERATOR')) or (user.fonction is not null)) %}
                    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-0" style="text-align:center">
                        <div class="form-bottom-left">
                            {% if is_granted('ROLE_ADMIN') %}
                                <h2>Administrateur</h2>
                            {% elseif is_granted('ROLE_MODERATOR') %}
                                <h2>Modérateur</h2>
                            {% endif %}
                            {% if user.fonction is not null %}
                                <h3>{{ user.fonction.fonction }}</h3>
                                <img src="{{ asset('uploads/images/'~user_photo) }}">
                                <br>
                                <button type="button" class="btn-upload" onclick="document.getElementById('fileButton').click()">Parcourir...</button>
                                {{ form_row(form.photo) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 col-sm-offset-1 col-md-offset-2">
                {% else %}
                    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-md-offset-2 col-sm-offset-1">
                {% endif %}
                    <div class="form-bottom-right">
                        <h2>{{ user.firstName }} {{ user.lastName }}</h2>
                        <h3>{{ user.username }}</h3>
                        <form role="form" method="post" class="profile-form">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-facebook-square facebook" ></i></span>
                                    {{ form_label(form.facebook) }}
                                    {{ form_errors(form.facebook) }}
                                    {{ form_widget(form.facebook) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-phone" style="color: green"></i></span>
                                    {{ form_label(form.telephone) }}
                                    {{ form_errors(form.telephone) }}
                                    {{ form_widget(form.telephone) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    {{ form_label(form.email) }}
                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>
                            <h4>Modifier le mot de passe</h4>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    {{ form_label(form.plainPassword.first) }}
                                    {{ form_errors(form.plainPassword.first) }}
                                    {{ form_widget(form.plainPassword.first) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    {{ form_label(form.plainPassword.second) }}
                                    {{ form_errors(form.plainPassword.second) }}
                                    {{ form_widget(form.plainPassword.second) }}
                                </div>
                            </div>
                        </form>
                    </div>
                    {{ form_rest(form) }}
                    <button type="submit" class="btn">Enregistrer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}
