{% extends "base.html.twig" %}

{% block body %}
    <section class="index-content">
        <div class="container-fluid">
            <h1>Évènements</h1>
            {% if is_granted('ROLE_MODERATOR') %}
                <a href="{{ path('rclab_website_actualite_events_add') }}">Ajouter un évènement</a>
            {% endif %}
            <div class="row">
                {% for event in listEvents %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            {% if event.image is not null %}
                                <div>
                                    <img src="{{ asset('uploads/images/'~event.image) }}"/>
                                </div>
                            {% endif %}
                            <div class="card-body text-center">
                                <h4><p>{{ event.event }}</p>
                                    <p>{{ event.debutEvent|date('d/m/Y H:i') }} - {{ event.finEvent|date('d/m/Y H:i') }}</p>
                                </h4>
                                {% if is_granted('ROLE_MODERATOR') %}
                                    <p>
                                        <a href="{{ path('rclab_website_actualite_events_edit', {'id': event.id}) }}"><i class="fa fa-edit"></i>Éditer</a>
                                        <a href="{{ path('rclab_website_actualite_events_remove', { 'id': event.id}) }}">Supprimer</a>
                                    </p>
                                {% endif %}
                                <p>{{ event.description }}</p>
                                <a href="{{ path('rclab_website_actualite_events_detail', {'id': event.id}) }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div>
                <p>pagination : </p>
                {% if page > 1 %}
                    <a href="{{ path('rclab_website_actualite_events', { 'page': (page - 1) }) }}">précédent</a>
                {% endif %}
                {{ page }}
                {% if isSuivant is not null %}
                    <a href="{{ path('rclab_website_actualite_events', {'page': (page + 1) }) }}">suivant</a>
                {% endif %}
            </div>
        </div>
    </section>


{% endblock %}